body{
font-family: Arial, Helvetica, sans-serif;
margin: 0;
padding: 0;
background-color: #f5f5f5;
}
h1{
    text-align: center;
    padding: 20px;
    color: #333;
}
.product-container{
    display: grid;
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: auto;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));

}
.product-card {
background: #fff;
border: 1px solid #ddd;
border-radius: 10px;
padding: 15px;
text-align: center;
}
.product-card:hover{
    transform: scale(1.5);
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}
.product-card img{
    width: 100px;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}
.product-card h3{
    margin: 15px 0 10px;
    font-size: 20px;
    color: #333;
}
.product-card p{
    font-size: 14px;
    color: #666;
}
.price{
    font-size: 18px;
    color: green;
    font-weight: bold;
    margin: 10px 0px;
}
.btn:hover{
    background-color: #0056b3;
}
.btn{
    display: inline-block;
    padding: 10px 15px;
    margin-top: 10px;
    background: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}
@media(max-width:600px){
    .product-card  img{
        height: 150px;
    }
    .product-card h3{
        font-size: 16px;
    }
    .product-card p{
        font-size: 12px;
    }
}
@media(max-width:601px)and (max-width:1024px){
    .product-card  img{
        height: 180px;
    }
    .product-card h3{
        font-size: 18px;
    }
    .product-card p{
        font-size: 12px;
    }
}